service: lambda-tiler

provider:
  name: aws
  runtime: python3.6
  stage: production

  region: ${opt:region, 'us-east-1'}

  environment:
    GDAL_CACHEMAX: 75%
    GDAL_TIFF_OVR_BLOCKSIZE: 512
    VSI_CACHE: TRUE
    VSI_CACHE_SIZE: 536870912
    GDAL_DISABLE_READDIR_ON_OPEN: true

  deploymentBucket: remotepixel-${self:provider.region}

custom:
  apigwBinary:
    types:
      - '*/*'

plugins:
  - serverless-apigw-binary

package:
  artifact: package.zip

functions:
  lambda-tiler:
    handler: app.handler.APP
    memorySize: 1536
    timeout: 20
    events:
      - http:
          path: /{proxy+}
          method: get
          cors: true
